.bapun{
    height: 100px;
    width: 100px;
    background-color: brown;
    border-radius: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 20px;
}