/* .box{
    height: 100px;
    width: 100px;
    border: 2px solid blue;
    margin: 5px;
    text-align: center;
    background-color: brown;

} */

.contener{
    color: blue;
}
.newpara{
  background-color: brown;
}